@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800);

/*mobile media query*/
@media(min-width: 200px) and (max-width: 640px) {
  .HeroGroup h1{
    font-size: 2em;
  }

  .HeroGroup p{
    font-size: 0.8em;
  }

  .HeroGroup>a{
    font-size: 0.8em;
  }

	.navbar-brand img{
		float: left;
		margin-top: -14px;
		width: 3em;
		height: 3em;
		vertical-align: middle;
	}

	.Hero .Logos{
		grid-template-columns: repeat(3, 1fr);
	}

	.project .overlayText{
		font-size: 1.4em;
	}
	div.personapic img{
		width: 50%;
	}

	figure.twopic{
		width: 100%;
	}

	figure.threepic{
		width: 100%;
	}

	figure.picturecenter{
		width: 100%;
	}

	.Projects{
		display: grid;
		grid-template-columns: repeat(1, auto);
		align-items: center;
		justify-items: center;
		/* max-width: 500px; */
	}
}


@media(min-width: 641px) and (max-width:767px) {
  .HeroGroup h1{
    font-size: 5em;
  }

	.navbar-brand img{
		float: left;
		margin-top: -14px;
		width: 3em;
		height: 3em;
		vertical-align: middle;
	}
	.project .overlayText{
		font-size: 1.4em;
	}

	div.personapic img{
		width: 50%;
		/*margin: auto;*/
	}
	figure.picturecenter{
		width: 100%;
	}
	figure.twopic{
		width: 100%;
	}
	figure.threepic{
		width: 100%;
	}

	.Projects{
		display: grid;
    grid-template-columns: repeat(2, auto);
	}
}



@media(min-width: 768px) and (max-width:1440px){
  
  .HeroGroup h1{
    font-size: 10em;
  }
  
  .container {
		padding-left: 10%;
		padding-right: 10%;
	}
	.navbar-brand img {
		height: 3em;
		width: 3em;
		vertical-align: middle;
		float: left;
		margin-top: -5px;
	}
	.navbar-nav{
		float: right;
	}
	div.personapic img{
		width: 30%;
		/*display: inline;*/
	}
	figure.picturecenter{
		width: 100%;
	}
	
	.Projects{
		display: grid;
    grid-template-columns: repeat(2, auto);
	}
}

@media(min-width: 1441px){
  .HeroGroup h1{
    font-size: 10em;
  }

  .navbar-brand img {
		height: 3em;
		width: 3em;
		vertical-align: middle;
		float: left;
		margin-top: -5px;
	}
	.navbar-nav{
		float: right;
	}
	div.personapic img{
		width: 30%;
		/*display: inline;*/
	}
	figure.picturecenter{
		width: 100%;
	}
	.Projects{
		display: grid;
    grid-template-columns: repeat(2, auto);
	}
}

body{
  font-family: 'Lato', BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  font-size: 20px;
  line-height: 1.3em;
  -webkit-font-smoothing: antialiased;
}

a{
  color: #50E2C1;
  text-decoration: none;
  font-weight: 600;
}

.Hero{
  max-width: 80%;
  margin: 0 auto;
  background: url('../img/webBg.png');
	background-size: 100%;
	position: relative;
}

.HeroGroup{
  margin: 0 auto;
  max-width: 800px;
  padding: 150px 50px;
  text-align: center;
}


.Hero h1{
	line-height: 1em;
	opacity: 0;
	animation: HeroAnimation 3s cubic-bezier(0.2, 0.8, 0.2, 1) 0.1s forwards;
}
.Hero p{
	opacity: 0;
	animation: HeroAnimation 3s cubic-bezier(0.2, 0.8, 0.2, 1) 0.2s forwards;
}

@keyframes HeroAnimation{
	0% {
		opacity: 0;
		transform: translateY(20px);
	}

	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}

.video-background {
    position: fixed;
    margin: 0 auto;
    width: 100%; 
    
    z-index: -100;
  }

/*project pictures*/
div.Projects{
  max-width: 800px;
  margin: 0 auto;
	margin-top: 8%;
	margin-bottom: 5%;
	font-family: 'Raleway', sans-serif;
}

.Project{
	padding: 10px;
	margin-bottom: 2%;
	background: #fff;

	display: inline-block;
	position: relative;
	transition: .5s ease;
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.ProjectContent{
	position: relative;
	width: 100%;
	margin: auto;
	overflow: hidden;
}

.Project .OverlayText{
	position: absolute;
	color: #fff;
	font-weight: 300;
	font-size: 1em;
	text-align: center;
	padding-left: .5em;
	padding-right: .5em;
	margin: 10% auto;
	
	
	opacity: 0;
/*	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);*/
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}

.Project .BlackOverlay{
	background: rgba(0,0,0,0.7);
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	opacity: 0;
	-webkit-transition: all 0.5s ease-in-out 0s;
	-moz-transition: all 0.5s ease-in-out 0s;
	transition: all 0.5s ease-in-out 0s;
}


	.Project:hover .OverlayText{
		top: 35%;
		opacity: 1;

	}

	.Project:hover .BlackOverlay{
		opacity: 1;
	}

	.ProjectCover{
		width: 100%;
		display: block;
		margin: 0 auto;

		transition: .5s ease;
	}
/*.fadeIn-bottom{
  top: 80%;
	}*/

  .ProjectTitle{
  	text-align: center;
  	padding:2% 0;
  }

.Hero svg{
	position: absolute;
	bottom: 0;
	left: 0;
}

.Hero .Logos{
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-gap: 40px;
	margin: 100px 0;
	justify-items: center;
}




.CardGroup{
	margin: 50px 40px 100px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 40px;
	justify-items: center;
}

@media (max-width: 1060px){
	.CardGroup{
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 720px){
	.CardGroup{
		grid-template-columns: repeat(1, 1fr);
	}
}

.Cards h2{
	margin: 50px 20px;
	font-size: 40px;
	line-height: 50px;
	text-align: center;
	font-weight: 700;
	background: linear-gradient(100deg, #050a27 0%, #4a548c 100%);
	-webkit-background-clip: text; 
	background-clip: text;
	-webkit-text-fill-color: transparent;
}